.DS_Store
**/build
**/bin
**/gen
**/local.properties
**/.idea
**/*.iml
**/材料
**/.gradle
**/captures
**/.bugtags.log
#**/settings.gradle
**/appReleaseDir

file/version_desc/version-*

**/build-small
**/smallLibs
**/public.txt

maven/*
!/maven/nothing

gradle/cache/*
